# dependencies
/node_modules
/.pnp
.pnp.js

package-lock.json

# testing
/coverage

# production
/dist
/build

# misc
.DS_Store
.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

!.vscode/markdown-github.css
.env.gh-pages

public/media/**/*.mp4
