@font-face {
  font-family: "Open Sans";
  src: url("./Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Heebo";
  src: url("./Heebo/Heebo-Regular.ttf");
}

@font-face {
  font-family: "Arapey";
  src: url("./Arapey/Arapey-Regular.ttf");
}
