#clock {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  -webkit-font-smoothing: subpixel-antialiased;
  z-index: 2;
}

#clock > #browseFont {
  position: absolute;
  transform: translateY(-100%);
}
#clock > #browseFont:focus { outline: none; }

/* [DIGITAL] */
#clock > .digital {
  line-height: 1.2;
}

/* [ANALOG] */
#clock > .analog {
  display: flex;
}
