/* https://developer.spotify.com/branding-guidelines/ */

#spotify {
  z-index: 2;
}

/* ==============
 *  SPOTIFY ICON
 * ============== */
.spotify-icon {
  margin: .5em;
  font-size: 2em;
  line-height: 0;
}

#spotify .has-alt-covers:hover { position: relative; }
#spotify .has-alt-covers:hover > img { filter: opacity(80%); }
#spotify .has-alt-covers > .chevron {
  background-color: #FFF;
  opacity: 0.85;
  border-radius: 50%;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  line-height: 0;
}
#spotify .has-alt-covers > .chevron > svg {
  color: #000;
  stroke: #000;
  stroke-width: 2.5em;
}
#spotify .has-alt-covers:hover > .chevron { display: block; }

.chevron.up { transform: rotateZ(180deg); }

/* =========
 *  CONTENT
 * ========= */

#spotify .overlay-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: calc(1em - 2px) 0;
  overflow: hidden;
  line-height: 0;
}
#spotify .overlay-content > .song-info {
  align-self: stretch;
}

/* ===========
 *  SONG INFO
 * =========== */

#spotify .song-info {
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic Pro', 'Meiryo', 'MS Gothic', sans-serif;
}

#spotify .song-info > .song-info-mask {
  -webkit-mask-image: linear-gradient(to right, #000, #000 calc(100% - .25em - .5em), transparent calc(100% - .25em));
          mask-image: linear-gradient(to right, #000, #000 calc(100% - .25em - .5em), transparent calc(100% - .25em));
}
#spotify .song-info > .song-info-mask.scrolling {
  -webkit-mask-image: linear-gradient(to right, transparent, #000 .25em, #000 calc(100% - .25em - .5em), transparent calc(100% - .25em));
          mask-image: linear-gradient(to right, transparent, #000 .25em, #000 calc(100% - .25em - .5em), transparent calc(100% - .25em));
}

.song-info .song-info-field {
  display: inline-block;
  letter-spacing: .015em;
}
.song-info .song-info-field.track {
  line-height: calc(1em + 4px);
}
.song-info .song-info-field.artists {
  line-height: calc(1em + 2px);
  font-size: calc(1em - 2px);
}


/* ====================
 *  TRACK PROGRESS BAR
 * ==================== */
#spotify progress[value].progress-bar {
  position: absolute;
  margin: .1em;
  width: calc(100% - 2 * .1em);
  width: -webkit-fill-available;
  width: -moz-available;
  height: .07em;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* vars */
  --bar-color: unset;
  --value-color: unset;
}
#spotify progress[value].progress-bar::-webkit-progress-bar {
  overflow: hidden;
  border-radius: .35em;
  background-color: var(--bar-color);
}
#spotify progress[value].progress-bar::-moz-progress-bar {
  overflow: hidden;
  border-radius: .35em;
  background-color: var(--bar-color);
}
#spotify progress[value].progress-bar::-webkit-progress-value {
  border-radius: .35em;
  background-color: var(--value-color);
}

#spotify progress[value].progress-bar.top { top: 0; }
#spotify progress[value].progress-bar.bottom { bottom: 0; }
#spotify progress[value].progress-bar.top ~ .main { margin-top: .1em; }
#spotify progress[value].progress-bar.bottom ~ .main { margin-bottom: .1em; }


/* =============
 *  STATE ICONS
 * ============= */
#spotify > .state-icons {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-flow: row-reverse nowrap;
  padding: .25em;
  border-radius: .5em;
  font-size: .75em;
  line-height: 0;
  background-color: hsla(0, 0%, 0%, 0.4);
}
#spotify > .state-icons > :not(:first-child) {
  margin-right: .25em;
}


/* ============
 *  ERROR INFO
 * ============ */
#spotify .error {
  padding-top: calc(1em - 2px);
  padding-bottom: calc(1em - 2px);
  letter-spacing: .015em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#spotify .error > :first-child {
  line-height: calc(1em + 4px);
}
#spotify .error > :not(:first-child) {
  line-height: calc(1em + 2px);
  font-size: calc(1em - 2px);
}


/* ========================================
 *  SpotifyOverlayPreferredLocalArtChooser
 * ======================================== */
#mb-plac { transition: max-height .5s ease-in-out 0s; }
#mb-plac .simplebar-scrollbar:before { background: white; }

#mb-plac .mb-plac-content:not(:empty) {
  padding: 8px 0 0 8px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  background-color: hsla(220, 5%, 30%, 0.8);
}

#mb-plac .mb-plac-content .mb-cover {
  position: relative;
  margin: 0 8px 8px 0;
  line-height: 0;
}
#mb-plac .mb-plac-content .mb-cover:not(.selected):hover { filter: opacity(75%); }
#mb-plac .mb-plac-content .mb-cover .selected-mark {
  background-color: #222;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  line-height: 0;
}
#mb-plac .mb-plac-content .mb-cover .selected-mark > svg {
  stroke: #222;
  stroke-width: 1em;
}
