#stats {
  background-color: #0f131f;
  color: #f8f9fa;
  font-family: 'Courier New', Courier, monospace;
  z-index: 999;
}

#stats > div.h:not(:first-child) { margin-top: 1em; }
#stats > div.h {
  margin-bottom: .1em;
  font-size: 1.15em;
  font-weight: bold;
  text-decoration: underline;
}

#stats table th {
  text-align: right;
  vertical-align: middle;
}

#stats table th + td { padding-left: .5rem; }

#stats code {
  font-size: .95em;
  font-style: italic;
}

#stats td.canvas-minmax {
  height: 1px;
  font-size: smaller;
  color: #bcbfc2;
}
#stats td.canvas-minmax > div {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
