/*! aCAV-WE gh-pages | UNLICENSED | github:aleab/acav-we */

/*  40rem =  640px  -- larger than mobile */
/*  80rem = 1280px  -- larger than tablet */
/* 120rem = 1920px  -- larger than desktop */

:root {
  font-size: 16px;

  --black: #24292e;
  --white: #fafafa;
  --accent: #9b4dca;
  --accent-dark: #57396a;
  --white-bright: #ffffff;
  --disabled: #eaeded;
  --readonly: #eeeeee;
  --text-primary: #606c76;
  --text-accent: var(--accent);
  --text-error: #dd0e1f;
  --text-muted: #7a7a7a;
}

html {
  height: 100%;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1rem;
  line-height: 1.5;
}


/* ===================================================================
 *  FIX milligram's rem sizes (since we changed the root's font size)
 * =================================================================== */

blockquote { border-left-width: .1875rem; padding: .625rem .9375rem; }
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  border: 0.0625rem solid var(--accent);
  border-radius: .25rem;
  font-size: .6875rem;
  height: 2.375rem;
  letter-spacing: .0625rem;
  line-height: 2.375rem;
  padding: 0 1.875rem;
}
code {
  border-radius: .4rem;
  margin: 0 .125rem;
  padding: .125rem .3125rem;
}
pre > code { padding: .625rem .9375rem; }
hr { border-top-width: .0625rem; margin: 1.875rem 0; }
input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
  border-width: .0625rem;
  border-radius: .25rem;
  height: 2.375rem;
  padding: .375rem .625rem;
}
select { padding-right: 1.875rem; }
textarea { min-height: 4.0625rem; }
label, legend { font-size: 1rem; margin-bottom: .3125rem; }
.label-inline { margin-left: .3125rem; }
.container {
  max-width: 70rem;
  padding: 0 1.25rem;
}
@media (min-width: 40rem) {
  .row { margin-left: -.625rem; width: calc(100% + 1.25rem); }
  .row .column { padding: 0 .625rem; }
}
dl dl, dl ol, dl ul, ol dl, ol ol, ol ul, ul dl, ul ol, ul ul { margin: .9375rem 0 .9375rem 1.875rem; }
.button, button, dd, dt, li { margin-bottom: .625rem; }
fieldset, input, select, textarea { margin-bottom: .9375rem; }
blockquote, dl, figure, form, ol, p, pre, table, ul { margin-bottom: 1.5625rem; }
td, th { border-bottom-width: .0625rem; padding: .75rem .9375rem; }
h1,h2,h3,h4,h5,h6, .h1,.h2,.h3,.h4,.h5,.h6 {
  letter-spacing: -.0625rem;
  margin-bottom: .5rem;
}
h1,.h1 { font-size: 2.875rem; }
h2,.h2 { font-size: 2.25rem; }
h3,.h3 { font-size: 1.75rem; }
h4,.h4 { font-size: 1.375rem; letter-spacing: .05rem; }
h5,.h5 { font-size: 1.125rem; letter-spacing: .03125rem; }
h6,.h6 { font-size: 1rem; letter-spacing: 0; }


/* =========
 *  SPACING
 * ========= */

.m-0 { margin: 0 !important; }
.mx-0, .ml-0 { margin-left: 0 !important; }
.mx-0, .mr-0 { margin-right: 0 !important; }
.my-0, .mt-0 { margin-top: 0 !important; }
.my-0, .mb-0 { margin-bottom: 0 !important; }

.m-auto { margin: auto; }
.mx-auto, .ml-auto { margin-left: auto; }
.mx-auto, .mr-auto { margin-right: auto; }
.my-auto, .mt-auto { margin-top: auto; }
.my-auto, .mb-auto { margin-bottom: auto; }

@media (min-width: 80rem) {
  .m-80-auto { margin: auto; }
  .mx-80-auto, .ml-80-auto { margin-left: auto; }
  .mx-80-auto, .mr-80-auto { margin-right: auto; }
  .my-80-auto, .mt-80-auto { margin-top: auto; }
  .my-80-auto, .mb-80-auto { margin-bottom: auto; }
}

.gap-x-1 > *:not(:first-child) { margin-left: .25rem; }
.gap-x-2 > *:not(:first-child) { margin-left: .5rem; }
.gap-x-3 > *:not(:first-child) { margin-left: 1rem; }
.gap-x-4 > *:not(:first-child) { margin-left: 2rem; }
.gap-y-1 > *:not(:first-child) { margin-top: .25rem; }
.gap-y-2 > *:not(:first-child) { margin-top: .5rem; }
.gap-y-3 > *:not(:first-child) { margin-top: 1rem; }
.gap-y-4 > *:not(:first-child) { margin-top: 2rem; }


/* ======
 *  FLEX
 * ====== */

.d-flex { display: -ms-flexbox; display: flex; }
.flex-110 { -ms-flex: 1 1 0%; flex: 1 1 0%; }

.flex-row-wrap { -ms-flex-flow: row wrap; flex-flow: row wrap; }
.flex-row-nowrap { -ms-flex-flow: row nowrap; flex-flow: row nowrap; }
.flex-column-wrap { -ms-flex-flow: column wrap; flex-flow: column wrap; }
.flex-column-nowrap { -ms-flex-flow: column nowrap; flex-flow: column nowrap; }

.flex-align-start { -webkit-align-items: flex-start; align-items: flex-start; }
.flex-align-center { -webkit-align-items: center; align-items: center; }
.flex-align-end { -webkit-align-items: flex-end; align-items: flex-end; }
.flex-align-stretch { -webkit-align-items: stretch; align-items: stretch; }

.align-self-stretch { -webkit-align-self: stretch; align-self: stretch; }

.order-0 { -webkit-order: 0; -ms-flex-order: 0; order: 0; }
.order-1 { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
.order-2 { -webkit-order: 2; -ms-flex-order: 2; order: 2; }
@media (min-width: 80rem) {
  .order-80-none { -webkit-order: inherit; -ms-flex-order: inherit; order: inherit; }
}


/* ======
 *  TEXT
 * ====== */

.text-primary { color: var(--text-primary); }
.text-accent { color: var(--text-accent); }
.text-error { color: var(--text-error); }
.text-muted { color: var(--text-muted); }

.text-align-start { text-align: start; }
.text-align-center { text-align: center; }
.text-align-end { text-align: end; }


/* --- */

/* remove some bottom margins */
fieldset, input, select, textarea { margin-bottom: 0; }
form { margin-bottom: 0; }

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
  background-color: var(--white-bright);
}

small, .small { font-size: 87.5%; }


/* =====================
 *  READONLY / DISABLED
 * ===================== */

input[readonly], select[readonly], textarea[readonly],
fieldset[readonly] input, fieldset[readonly] select, fieldset[readonly] textarea {
  background-color: var(--readonly);
}

input:disabled, select:disabled, textarea:disabled,
fieldset:disabled input, fieldset:disabled select, fieldset:disabled textarea { background-color: var(--disabled); }
input:disabled, select:disabled, textarea:disabled, fieldset:disabled { color: var(--text-muted); }
input:disabled, select:disabled, textarea:disabled, fieldset:disabled, .button:disabled, button:disabled { cursor: not-allowed; }


/* ======
 *  LEAD
 * ====== */

.lead { font-size: calc(1.275rem + .3vw); }
@media (min-width: 80rem) { .lead { font-size: 1.5rem; } }

h1.lead, .h1.lead { font-size: calc(3.4875rem + 1.1vw); }
@media (min-width: 80rem) { h1.lead, .h1.lead { font-size: 4.3125rem; } }
h2.lead, .h2.lead { font-size: calc(2.7rem + .9vw); }
@media (min-width: 80rem) { h2.lead, .h2.lead { font-size: 3.375rem; } }
h3.lead, .h3.lead { font-size: calc(2.175rem + .6vw); }
@media (min-width: 80rem) { h3.lead, .h3.lead { font-size: 2.625rem; } }
h4.lead, .h4.lead { font-size: calc(1.8375rem + .3vw); }
@media (min-width: 80rem) { h4.lead, .h4.lead { font-size: 2.0625rem; } }
h5.lead, .h5.lead { font-size: calc(1.4625rem + .3vw); }
@media (min-width: 80rem) { h5.lead, .h5.lead { font-size: 1.6875rem; } }
h6.lead, .h6.lead { font-size: calc(1.275rem + .3vw); }
@media (min-width: 80rem) { h6.lead, .h6.lead { font-size: 1.5rem; } }


/* ========
 *  BUTTON
 * ======== */

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  height: unset;
  font-size: .75rem; /* slightly increase default font size */
  line-height: 1.5rem;
  margin-bottom: 0; /* remove bottom margin from milligram's button style */
  padding: .375rem .75rem;
  transition: background-color .15s ease-in-out, /* add smooth color transition */
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out,
              color .15s ease-in-out;
  -webkit-user-select: none; /* disable selection */
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button:not(:disabled):focus, button:not(:disabled):focus,
input[type='button']:not(:disabled):focus,
input[type='reset']:not(:disabled):focus,
input[type='submit']:not(:disabled):focus {
  box-shadow: 0 0 0 0.2rem hsla(207, 10%, 55%, 0.5);
}

.button-link {
  background-color: unset;
  border: unset;
  color: var(--text-accent);
  font-size: inherit;
  line-height: inherit;
  padding: 0;
}
.button-link:hover, .button-link:focus {
  background-color: unset;
  color: var(--text-primary);
  opacity: .8;
}


/* =============
 *  INPUT GROUP
 * ============= */

.input-group {
  position: relative;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
  -webkit-align-items: stretch;
          align-items: stretch;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.input-group > *:not(:last-child) { margin-right: -1px; }
.input-group > *:first-child { border-bottom-right-radius: 0; border-top-right-radius: 0; }
.input-group > *:last-child { border-bottom-left-radius: 0; border-top-left-radius: 0; }
.input-group > *:not(:first-child).nav-item:not(:last-child) { border-radius: 0; }

.input-group > input[type='email'],
.input-group > input[type='number'],
.input-group > input[type='password'],
.input-group > input[type='search'],
.input-group > input[type='tel'],
.input-group > input[type='text'],
.input-group > input[type='url'] {
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
  margin-bottom: 0;
  min-width: 0;
}


/* ========
 *  NAVBAR
 * ======== */

.navbar {
  background: var(--accent-dark);
  border-collapse: separate; /* https://caniuse.com/#feat=mdn-css_properties_box-shadow_inset */
  box-shadow: 0 .25rem .5rem hsla(0, 0%, 0%, .12), 0 0 .5rem 0 hsla(0, 0%, 0%, .1) inset;
  padding: .5rem 1rem;
  width: 100%;

  /* flexbox */
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}
@media (min-width: 80rem) {
  .navbar {
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}

/* .navbar > .container */
.navbar > .container {
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}
@media (max-width: 80rem) {
  .navbar > .container {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
}
@media (min-width: 80rem) {
  .navbar > .container {
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
  }
}

/* .navbar-item */
@media (min-width: 80rem) {
  .navbar .navbar-item { margin-right: 1rem; }
  .navbar .navbar-item:last-child { margin-right: 0; }
}

/* .navbar-link */
.navbar .navbar-link { color: var(--white-bright); }
.navbar .navbar-link:hover, .navbar .navbar-link:focus { color: var(--white-bright); opacity: .65; }

/* .navbar-title */
.navbar .navbar-title {
  color: var(--white-bright);
  display: inline-block;
  font-size: 1.75rem;
  font-weight: 400;
  margin: auto; /* (mobile) - title is centered in the navbar for mobile */
  white-space: nowrap;
}
@media (min-width: 80rem) {
  .navbar .navbar-title { margin: 0; }
}

/* .navbar-toggle */
.navbar .navbar-toggle {
  color: var(--white-bright);
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 80rem) {
  .navbar .navbar-toggle { display: none; }
}

/* .navbar-link */
.navbar .navbar-link { color: var(--white-bright); opacity: .8; }
.navbar .navbar-link:hover, .navbar .navbar-link:focus { opacity: 1; }

/* .navbar-nav */
.navbar .navbar-nav { display: none; }
@media (max-width: 80rem) { /* (mobile) - this is the navbar-toggle target */
  .navbar .navbar-nav.active {
    margin-top: .5rem;
    text-align: center;
    width: 100%;

    display: -ms-flexbox;
    display: flex;
    align-self: stretch;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
  }
}
@media (min-width: 80rem) { /* (desktop) */
  .navbar .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    margin-right: 1rem;
  }
  .navbar .navbar-nav:last-child { margin-right: 4rem; }
}

/* .nav-item */
@media (min-width: 80rem) { /* (desktop) - nav items have a gap between each other */
  .navbar .navbar-nav .nav-item:not(:last-child) { margin-right: .5rem; }
}

/* .nav-link */
.navbar .navbar-nav .nav-link {
  border-top: 1px solid hsla(0, 0%, 100%, 0.65);
  color: var(--white);
  opacity: .65;
  padding-bottom: .5rem;
  padding-top: .5rem;
}
.navbar .navbar-nav .nav-link:last-child { padding-bottom: 0; }
@media (min-width: 80rem) {
  .navbar .navbar-nav .nav-link { border-top: 0; padding: 0; }
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus { opacity: 1; }
.navbar .navbar-nav .nav-link.active { font-weight: 600; opacity: 1; }


/* =========
 *  SPINNER
 * ========= *
 * https://github.com/tobiasahlin/SpinKit */

.spinner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -webkit-justify-content: center;
          justify-content: center;

  --color: #333;
  --size: 1em;
  --gap: 0;
}
.spinner > div {
  background-color: var(--color);
  border-radius: 100%;
  display: inline-block;
  height: var(--size);
  width: var(--size);
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner > div:not(:last-child) { margin-right: var(--gap); }
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0); }
  40% { -webkit-transform: scale(1.0); }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
  }
}


/* --- */

.navbar + * { padding-top: 1.5rem; }
